.main{
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.main .info h2{
    text-transform: capitalize;
}
.main .result{
    margin-top: 25px;
}
.main .result button{
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}
.main .result button:hover{
    background-color: rgb(86, 207, 212);
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 0px rgb(185, 173, 173);
}
.main .total-avg {
    margin-top: 15px;
}
.main .total-avg span{
    margin-left: 50px;
    font-size: 20px;
}
