*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 650px;
    width: 100%;
    background-color: blueviolet;
}
.main .img img{
    height: 650px;
    width: 100%;
    position: relative;
}
.main .header{
    background-color: brown;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0px;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
    
    
}
.header ul li a{
    text-decoration: none;
    color: white;

 }
 .header ul li{
    list-style: none;
 }
 .header .logo{
    display: block;
 }
 .header .logo img{
        height: 100px;
        width: 100px;
        background-color: blueviolet;
 }
