.layout1{
    height: 400px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
}
.layout1 .div1{
    border: 2px solid black;
    height: 350px;
    width: 300px;
    margin-top:20px;
}
.layout1 .div1 img{
    height: 200px;
    width: 100%;
}
.layout1 .div1 p{
    text-align: center;
}
.layout1 .div1 .btn{
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.layout1 .div1 .btn .view{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px -22px 0px -25px;
    text-align: center;
}
.layout1 .div1 .btn .edit{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px 13px 0px -25px;
    text-align: center;
}
.layout1 .div1 .btn .image{
    /* border: 1px solid black; */
    height: 29px;
    width: 70px;
    line-height: 30px;
   margin: 5px -45px 0px 0px;
    text-align: center;
}
/* =======2============ */
.layout1 .div2{
    border: 2px solid black;
    height: 350px;
    width: 300px;
    margin-top:20px;
}
.layout1 .div2 img{
    height: 200px;
    width: 100%;
}
.layout1 .div2 p{
    text-align: center;
}
.layout1 .div2 .btn{
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.layout1 .div2 .btn .view{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px -22px 0px -25px;
    text-align: center;
}
.layout1 .div2 .btn .edit{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px 14px 0px -25px;
    text-align: center;
}
.layout1 .div2 .btn .image{
    /* border: 1px solid black; */
    height: 29px;
    width: 70px;
    line-height: 30px;
   margin: 5px -45px 0px 0px;
    text-align: center;
}

/* ============3============= */
.layout1 .div3{
    border: 2px solid black;
    height: 350px;
    width: 300px;
    margin-top:20px;
}
.layout1 .div3 img{
    height: 200px;
    width: 100%;
}
.layout1 .div3 p{
    text-align: center;
}
.layout1 .div3 .btn{
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.layout1 .div3 .btn .view{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px -22px 0px -25px;
    text-align: center;
}
.layout1 .div3 .btn .edit{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px 14px 0px -25px;
    text-align: center;
}
.layout1 .div3 .btn .image{
    /* border: 1px solid black; */
    height: 29px;
    width: 70px;
    line-height: 30px;
   margin: 5px -45px 0px 0px;
    text-align: center;
}

/* ===================layout 2=================== */
.layout2{
     height: 400px;
    width: 100%;
    /* background-color: chartreuse; */
     display: flex;
    justify-content: space-evenly;
}
/* ============4============== */
.layout2 .div4{
    border: 2px solid black;
    height: 350px;
    width: 300px;
    margin-top:20px;
}
.layout2 .div4 img{
    height: 200px;
    width: 100%;
}
.layout2 .div4 p{
    text-align: center;
}
.layout2 .div4 .btn{
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.layout2 .div4 .btn .view{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px -22px 0px -25px;
    text-align: center;
}
.layout2 .div4 .btn .edit{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px 13px 0px -25px;
    text-align: center;
}
.layout2 .div4 .btn .image{
    /* border: 1px solid black; */
    height: 29px;
    width: 70px;
    line-height: 30px;
   margin: 5px -45px 0px 0px;
    text-align: center;
}
/* ===========5=============== */
.layout2 .div5{
    border: 2px solid black;
    height: 350px;
    width: 300px;
    margin-top:20px;
}
.layout2 .div5 img{
    height: 200px;
    width: 100%;
}
.layout2 .div5 p{
    text-align: center;
}
.layout2 .div5 .btn{
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.layout2 .div5 .btn .view{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px -22px 0px -25px;
    text-align: center;
}
.layout2 .div5 .btn .edit{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px 14px 0px -25px;
    text-align: center;
}
.layout2 .div5 .btn .image{
    /* border: 1px solid black; */
    height: 29px;
    width: 70px;
    line-height: 30px;
   margin: 5px -45px 0px 0px;
    text-align: center;
}
/* ==============6===================== */
.layout2 .div6{
    border: 2px solid black;
    height: 350px;
    width: 300px;
    margin-top:20px;
}
.layout2 .div6 img{
    height: 200px;
    width: 100%;
}
.layout2 .div6 p{
    text-align: center;
}
.layout2 .div6 .btn{
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
.layout2 .div6 .btn .view{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px -22px 0px -25px;
    text-align: center;
}
.layout2 .div6 .btn .edit{
    border: 1px solid black;
    height: 29px;
    width: 70px;
    line-height: 30px;
    margin: 5px 14px 0px -25px;
    text-align: center;
}
.layout2 .div6 .btn .image{
    /* border: 1px solid black; */
    height: 29px;
    width: 70px;
    line-height: 30px;
   margin: 5px -45px 0px 0px;
    text-align: center;
}